*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("../Fotos/img7.jpg");
  background-size: 100vw auto;
  background-attachment: fixed;
  background-repeat: no-repeat
}

#hero-text {
  font-family: "Dancing Script";
  font-size: 2.3rem;
  color: rgb(46, 2, 2);
  margin-top: 60px;
  margin-bottom: 7%;
}

#hero {
  margin-left: 3%;
}

#pedido-bt {
  background-color: #e9b8ec;
  font-family: 'Dosis', sans-serif;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 4px 10px;
  text-decoration: none;
  margin-top: 5%;
}

#pedido-bt:hover {
  background-color: #b985b7;
}

#pedido-bt:active {
  background-color: #6b576a;
  color: white;
}

#pedido-bt:visited {
  color: black;
}

#header {
  display: flex;
  height: 10%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.808);
}

.nav-link {
  text-decoration: none;
  color: #90378c;
  padding: 5px 9px;
  box-shadow: inset 0 0 0 0 #90378c;
  font-size: 1.3rem;
  color: #54b3d6;
  margin: 0 10px;
  padding: 0 3px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  box-shadow: inset 100px 0 0 0 #90378c;
  color: white;
}

.nav-link:active {
  background-color: rgba(133, 64, 101, 0.83);
  color: rgba(255, 127, 195, 0.83);
}

#header-img {
  height: 80px;
}

#logo-link {
  margin-left: 5%;
}

nav {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  display: flex;
  margin: auto 5% auto 2px;
  position: sticky;
}

.hero-info, #footer {
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.582);
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer-text {
  font-size: 1rem;
  margin: 0;
}

@media only screen and (max-width: 1000px) {

  #header {
    align-items: center;
  }

  #header-img {
    margin-left: 0;
    height: 70px;
  }

  body {
    background-size: 100vh;
    background-position-x: center;
  }

  nav {
    margin: auto 0px;
    align-items: center;
    margin-left: 5%;
    margin-right: 3%;
  }

  .nav-link {
    font-size: 1.1rem;
    margin-left: 5%;
  }

  #hero {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #hero-text {
    margin-bottom: 15%;
  }

  .hero-info {
    margin-bottom: 0;
  }

  .hero-info:last-of-type {
    margin-top: 8px;
  }

  .bg-mobile {
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 5px;
    padding: 15px;
    width: 90%;
  }
}