*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: repeating-linear-gradient(
    45deg,
    #eed5ff,
    #eed5ff 15%,
    #d0f4f4 15%,
    #d0f4f4 30%
  );
  background-attachment: fixed;
}

#main {
  background-color: rgba(255, 255, 255, 0.336);
  text-align: center;
}

#hero-text {
  font-family: "Dancing Script";
  font-size: 4rem;
  text-align: center;
  color: rgb(46, 2, 2);
  margin-top: 20px;
  margin-bottom: 4%;
  padding-top: 40px;
}

#header {
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav-link {
  width: 50%;
  text-decoration: none;
  color: #90378c;
  padding: 5px 9px;
  box-shadow: inset 0 0 0 0 #90378c;
  color: #54b3d6;
  margin: 0 10px;
  padding: 0 3px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  box-shadow: inset 100px 0 0 0 #90378c;
  color: white;
}

.nav-link:active {
  background-color: rgba(133, 64, 101, 0.83);
  color: rgba(255, 127, 195, 0.83);
}

#header-img {
  height: 120px;
  margin-left: 5%;
}

nav {
  font-family: "Dosis", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  margin: auto 5% auto 2px;
  position: sticky;
}

/* Menu slides */

.canva-iframe {
  position: relative;
  width: 350px;
  height: 625px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 7px;
}

#menus {
    background-color: rgba(0, 0, 0, 0.233);
    padding: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canva-slides {
    display: flex;
    justify-content: space-evenly;
}


p {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}

p:last-of-type {
    padding-bottom: 3%;
}

#cardapios-header {
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    padding-bottom: 2%;
    color: rgb(46, 2, 2);
    background-color: rgba(255, 255, 255, 0.603);
    border: 1px solid blue;
    padding-left: 0;
    padding-right: 0;
    width: min-content;
}

.canva-slide {
    margin: 0 10% 0;
}